#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.moveme {
    position: absolute;
    z-index: 9;
}
.moveme > div {
    cursor: move;
    z-index: 10;
}
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.fa-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.fa-li {
    width: 30px;
    height: 30px;
    background: #2196F3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}